@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
 /* Primary */

--Blue: hsl(223, 87%, 63%);

/* ### Secondary */

--Pale-Blue: hsl(223, 100%, 88%);
--Light-Red: hsl(354, 100%, 66%);

/* ### Neutral */

--Gray: hsl(0, 0%, 59%);
--Very-Dark-Blue: hsl(209, 33%, 12%);
}

*{
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Libre Franklin', sans-serif;
  background-color: white;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 0 auto;
  max-width: 600px;
}